@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #004f51;
    --color-primary-container: #1d686a;
    --color-on-primary: #ffffff;
    --color-on-primary-container: #9fe4e6;
    --color-on-primary-fixed: #002021;
    --color-primary-fixed: #aaeff0;
    --color-primary-fixed-dim: #8ed2d4;
    --color-on-primary-fixed-variant: #004f51;
    --color-inverse-primary: #8ed2d4;

    --color-secondary: #4d6262;
    --color-secondary-container: #d0e7e7;
    --color-on-secondary: #ffffff;
    --color-on-secondary-container: #536868;
    --color-secondary-fixed: #d0e7e7;
    --color-secondary-fixed-dim: #b4cbcb;
    --color-on-secondary-fixed: #091f1f;
    --color-on-secondary-fixed-variant: #364a4b;

    --color-tertiary: #394374;
    --color-tertiary-container: #515b8e;
    --color-on-tertiary: #ffffff;
    --color-on-tertiary-container: #d0d6ff;
    --color-tertiary-fixed: #dde1ff;
    --color-tertiary-fixed-dim: #bac3fd;
    --color-on-tertiary-fixed: #0b1747;
    --color-on-tertiary-fixed-variant: #394475;

    --color-background: #f8faf7;
    --color-on-background: #191c1b;
    --color-surface: #f8faf7;
    --color-on-surface: #191c1b;
    --color-surface-variant: #e1e3e0;
    --color-on-surface-variant: #3e4949;
    --color-surface-dim: #d8dbd8;
    --color-surface-bright: #f8faf7;
    --color-surface-tint: #1d686a;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f2f4f1;
    --color-surface-container: #eceeeb;
    --color-surface-container-high: #e6e9e6;
    --color-surface-container-highest: #e1e3e0;
    --color-inverse-surface: #2e312f;
    --color-inverse-on-surface: #eff1ee;

    --color-outline: #6e7979;
    --color-outline-variant: #bec9c8;

    --color-error: #ba1a1a;
    --color-error-container: #ffdad6;
    --color-on-error: #ffffff;
    --color-on-error-container: #93000a;

    --font-sans: "Lexend", sans-serif;
    --font-headline: "Lexend", sans-serif;
    --font-body: "Lexend", sans-serif;
    --font-label: "Lexend", sans-serif;

    --radius-xl: 0.75rem;
    --radius-full: 9999px;
}

@layer base {
    .material-symbols-outlined {
        font-family: "Material Symbols Outlined";
        font-variation-settings:
            "FILL" 0,
            "wght" 400,
            "GRAD" 0,
            "opsz" 24;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        -webkit-font-smoothing: antialiased;
    }
}
